<!DOCTYPE html>
<html>
<head>
  <!-- <% include ./header.ejs %> -->
  <meta charset="utf-8">
  <title>Kodilla!</title>
  <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
  <h1>Hello world!</h1>
</body>
</html>
