<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
    <h2>Hello world</h2>
		<pre>
		<% results.forEach(function(user)  { %>
			<%= user.name + ' ' + user.surname %>
		<% }) %>
		</pre>
</body>
</html>
